body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
  }

.container {
  max-width: 900px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form .linha {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.btn.del {
  background: #dc3445;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.resumo {
  background: #e9f8e5;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
}